<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <!--Boostrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!--Tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Tailwind Config-->
    <script>
      tailwind.config = {
      }
    </script>
</head>
<body class="bg-sky-100">
    <div class="flex flex-col mx-20 my-5 p-5 rounded-md bg-neutral-100">
            
        <p class="text-xl"> Create new Task <p/>
        <form 
        class="flex w-full mb-5 items-center"
        hx-post="/add-toDo/"  
        hx-target="#list"  
        hx-swap="afterend"
        >
            <input required class="w-4/5" type="text" name="title" placeholder="The title">
            <button  class="w-1/5 bg-green-100 mx-2 rounded-lg hover:bg-green-200 ">Create</button>
        </form>
        <div id="list" >

        </div>
        <div >
        {% for toDo in toDoList %}
            {% include 'toDoApp/partials/toDoItem.html' %}        
        {%endfor%}
        </div>
    </div>

</body>
 <script src="https://unpkg.com/htmx.org@1.6.1"></script>
 <script >
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });

        document.body.addEventListener('htmx:afterRequest', (event) => {
            document.querySelector("input").value = '';
        });
 </script>
  
</html>